<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Omari Domville</h1>
 <p> My name is Omari Domville,Im a very unpredicatable person and fun to around.Im a third year student at the University of the West Indies, Mona.Currently studying Information Technology and would like to become a web developer or an engineer in the future.I would like to finish school as quickly as possible,so that I can persue on my dreams.</p>
</body>
</html> 
